body{
    margin: 0;
    padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style:normal;
  overflow: hidden;
  background-color: black;
  color: white;

}

.main{
    height: 100vh;
    display: flex;
    padding: 0.5rem;
}

.sidebar{
    background-color:black;
    width: 340px;
     border-radius: 1rem;
     margin-right: 0.5rem;

}
.main-content{
    background-color: #121212;
    flex: 1;
  border-radius: 1rem;
  overflow: auto;
  padding: 0 1.5rem 0 1.5rem;


}

.music-player{
    background-color:black;
    width: 100%;
    height: 80px;
    bottom: 0;
    position: fixed;
   
}

a{
    text-decoration: none;
    color: white;
}

.nav
{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
        padding: 0.5rem 0.75rem;

   

}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
    
}

.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1.4rem;
    margin-left: 1rem;
}

.nav-option:hover{

    opacity: 1;
}

/* library */

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.7rem;
        padding: 0.5rem 0.75rem;
   

    
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.library-option img{
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
}

.icons{
    font-size: 1.25rem;
    display: flex;
}

.icons i{
    opacity: 0.4;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}

/* box */
.lib-box{

    padding-top: 0.5rem;
}

.box{
   /* height: 8rem; */
   background-color: #232323; 
   border-radius: 1rem;
   margin: 0.75rem 0 0.75rem 0;
   padding: 0.75rem 1.25rem;

   

}
.box-p-1{
    font-size: 1rem;
    font-weight: 700;
}

.box-p-2{

 font-size: 0.9rem;
 opacity: 0.8;
}

.badge{
color: black;
font-weight: 600;
font-size: 1rem;
border-radius: 100px;
padding:0.25rem 0.75rem;
border: none;
background-color: white;
margin-top: 0.5rem;
height: 2rem;
width: fit-content;

}

.badge:hover{
    transform: scale(1.05);
}
    
/* Main content */

/* sticky bar */

.sticky-bar{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: #121212;
    padding: 0.1rem 0 1rem 0;
    border-radius: 1rem;
    z-index: 100;
}

.left{
    display: flex;
    padding: 0.5rem;
    justify-content: space-around;
}
.right{
  justify-content: space-evenly;
}

.search {
    background-color: #232323;
    border-radius: 100px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    margin-right: 3rem;
    /* opacity: 0.5; */
    margin-left: 1rem;
}

.search input{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    margin-left: 0.5rem;
    
}
.search input::placeholder{
    color: grey;
    font-size: 1rem;
    opacity: 1;
    flex: 1;

}
.search:hover{
    background-color: #121212;
    box-shadow: 0 0 10px ;
    opacity: 1;
    transform: scale(1.02);
}
.left img{
    width: 2rem;
    height: 2rem;
    border: 100px;
    opacity: 0.5;
    
}
.left img:hover{
    opacity: 1;
    transform: scale(1.1);
}

.ip{
    background-color: #121212;
    color: white;
    opacity: 0.6;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.ip:hover{
    opacity: 1;
}
@media (max-width:1000px){
    .hide{
        display: none;
    }
}

.non{
    margin-left: 0.5rem;
    background-color: #484747;
    color: white;
}

.cards{
    background-color: #232323;
    border-radius: 0.5rem;
    width: 150px;
    padding: 1rem;
    /* margin-left: 1.5rem; */
    margin: 0.5rem;
    
    
}

.cards-container{
    display: flex;
      flex-wrap: wrap;
  
}

.card-img{
    width: 100%;
     border-radius: 0.5rem;
}
.card-title{
    font-size: 1rem;
    font-weight: 600;
    /* margin: 0.5rem ; */
}
.card-info{
    font-size: 0.8rem;
    opacity: 0.7;
}
.cards:hover{
transform: scale(1.06);
}

/* footer */

.footer{
    height: 300px;
    display :flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 90%;
    height: 40%;
    border-top: 2px solid white;
}

/* music playes */

.music-player {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-top: 1px solid #282828;
    color: white;
    /* z-index: 1000; */
}

/* Left (song info) */
.part1 {
    display: flex;
    align-items: center;
    flex: 1;
   width: 25%;
}

.part1 img {
    height: 60px;
    width: 60px;
    border-radius: 0.25rem;
    margin-right: 1rem;
}

.song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.song-title {
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0;
}

.song-writter {
    font-size: 0.75rem;
    color: #b3b3b3;
    margin: 0;
    opacity: 0.9;
    padding-top: 0.4rem;
}

.like{
    margin-left: 1.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    padding-bottom: 0.9rem;
}
.like user{
    padding-left: 1.5rem;
}

.like:hover{
    transform: scale(1.2);
}

/* part 2 */

.part2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.play-bar{
    display: flex;
    justify-content: center;
    align-items: center;

}


.player-control{
    height: 1.8rem;
    padding: 1.5rem;
    opacity: 0.5;
    padding-top: 2rem;

}
.time{
    padding-bottom: 1.5rem;
}

.player-control:hover{
    opacity: 1;
    transform: scale(1.04);
}

.part3{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    font-size: 1.6rem;
    align-items: center;
    padding: 2.5rem;
    opacity: 0.7;
}
.part3 i:hover{
    opacity:1;
    transform: scale(1.02);
    color: white;
}

